@model u19268468_HW03.Models.ReportArchiveModel
@{
    ViewBag.Title = "ReportArchiveCIndex";
}

<h2 style="font-family:Rockwell">Reports and Archives </h2>
<p>Below is the report of the library services and the archives if the reports downloaded. </p>

<main>
    
    <h4>Reports</h4>
    
    @* Reports *@
    <section>
        <div class="container">
            @* table *@
        </div>

        @* buttons *@
        <div>
            <button type="button" class="btn btn-outline-secondary" >Filename</button>

            <button type="button" class="btn btn-outline-secondary" >File Type</button>

            <button type="button" class="btn btn-outline-secondary" >Save</button>

        </div>       
    </section>
    
    <br/><h4>Archives</h4>
    @* Archives *@
    <section>

    </section>
</main>