@model u19268468_HW03.Models.FileSaveModel
@{
    ViewBag.Title = "ReportArchiveCIndex";
}

<h2 style="font-family:Rockwell">Reports and Archives </h2>
<p>Below is the report of the library services and the archives if the reports downloaded. </p>

<main>
    
    <h4>Reports</h4>
    
    @* Reports *@
    <section>
        <div class="container">
            @*<div class="form-group">
                @Html.TextBoxFor(model => model.FileName, new { @class = "form-control", style = "width: 300px;", placeholder = "Add File Name" })

                @Html.DropDownListFor(model => model.FileType,
                      new[]
                      {
                        new SelectListItem() { Text = "DOCX", Value = ".docx" },
                        new SelectListItem() { Text = "PDF", Value = ".pdf", Selected = true },
                        new SelectListItem() { Text = "XPS", Value = ".xps" },
                        new SelectListItem() { Text = "HTML", Value = ".html" },
                        new SelectListItem() { Text = "MHTML", Value = ".mhtml" },
                        new SelectListItem() { Text = "RTF", Value = ".rtf" },
                        new SelectListItem() { Text = "XML", Value = ".xml" },
                        new SelectListItem() { Text = "TXT", Value = ".txt" },
                        new SelectListItem() { Text = "PNG", Value = ".png" },
                        new SelectListItem() { Text = "JPEG", Value = ".jpeg" },
                        new SelectListItem() { Text = "GIF", Value = ".gif" },
                        new SelectListItem() { Text = "BMP", Value = ".bmp" },
                        new SelectListItem() { Text = "TIFF", Value = ".tiff" },
                        new SelectListItem() { Text = "WMP", Value = ".wmp" }
                      },
                        new { @class = "form-control", style = "width: 150px;" })
            </div>*@
        </div>

        @* buttons *@
        <div>
            <button type="button" class="btn btn-outline-secondary" >Filename</button>

            <button type="button" class="btn btn-outline-secondary" >File Type</button>

            <button type="button" class="btn btn-outline-secondary" >Save</button>

        </div>       
    </section>
    
    <br/><h4>Archives</h4>
    @* Archives *@
    <section>

    </section>
</main>